* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  background-color: darkslateblue;
  text-align: center;
}

.card {
  box-sizing: border-box;
  display: inline-block;
  margin: 5px 5px 50px 5px;
  cursor: pointer;
  font-size: inherit;
  width: 4.0em;
  height: 5.5em;
  background-color: #fff;
  border-radius: 0.20em;
  border: 1px solid #c3c3c3;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  }



.dealer-cards img {
  background-color: #fff;
  display: inline-flex;
  margin: 10vmin 0vmin 10vmin 0vmin;
  background-color: #fff;
  border-radius: 0.20em;
  border: 3px solid #020000;
}

.player-cards img {
  background-color: #fff;
  display: inline-flex;
  margin: 10vmin 0vmin 10vmin 0vmin;
  background-color: #fff;
  border-radius: 0.20em;
  border: 3px solid #020000;
}

p {
  display: block;
  padding: 1 1 1 1;
  margin: 5vmin;
  width: 15vmin;
  height: 8vmin;
  font-size: 5vmin;
  background-color: aliceblue;
}

.button {
  display: inline-flex;
}

#hit {
  font-family: 'Sedgwick Ave Display', cursive;
  width: 20vmin;
margin: 4vmin;
padding: 2vmin;
font-size: 2vmin;
border-radius: 2vmin;
border: 0.1vmin solidgray;
color: gray;
}

#hit:hover {
  color: white;
  background-color: darkgray;
}
#stay {
  font-family: 'Sedgwick Ave Display', cursive;
  width: 20vmin;
margin: 4vmin;
padding: 2vmin;
font-size: 2vmin;
border-radius: 2vmin;
border: 0.1vmin solidgray;
color: gray;
}

#stay:hover {
  color: white;
  background-color: darkgray;
}
#deal {
  font-family: 'Sedgwick Ave Display', cursive;
  width: 20vmin;
margin: 4vmin;
padding: 2vmin;
font-size: 2vmin;
border-radius: 2vmin;
border: 0.1vmin solidgray;
color: gray;
}

#deal:hover {
  color: white;
  background-color: darkgray;
}
