* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  background-color: darkslateblue;
  justify-content: center;
  text-align: center;
}

header {
  font-size: 15vmin;
  background-color:rgb(15, 115, 192);
  font-family: 'Cormorant Garamond', serif;
  border: 1vmin solid black;
  
}

.card {
  /* box-sizing: border-box;
  display: inline-block;
  margin: 5px 5px 50px 5px;
  cursor: pointer;
  font-size: inherit;
  width: 4.0em;
  height: 5.5em;
  background-color: #fff;
  border-radius: 0.20em;
  border: 1px solid #c3c3c3;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; */
}



.dealer-cards img {
  background-color: #fff;
  display: inline-flex;
  margin: 10vmin 0vmin 10vmin 0vmin;
  background-color: #fff;
  border-radius: 0.20em;
  border: 3px solid #020000;
  width: 9.0em;
  height: 11.5em;
}

.player-cards img {
  background-color: #fff;
  display: inline-flex;
  margin: 10vmin 0vmin 10vmin 0vmin;
  background-color: #fff;
  border-radius: 0.20em;
  border: 3px solid #020000;
  width: 9.0em;
  height: 11.5em;
}

p {
  font-family: 'Cormorant Garamond', serif;
  display: block;
  padding: 1 1 1 1;
  margin: 5vmin;
  width: 15vmin;
  height: 8vmin;
  font-size: 10vmin;
}

#results {
  color: crimson;
  
}

footer {
display: inline-flex;
justify-content: center;
background-color: rgb(15, 115, 192);
width: 100vmin;
border: 0.5vmin solid #020000;
}

.button {
  display: inline-flex;
}

#hit {
font-family: 'Cormorant Garamond', serif;
width: 20vmin;
margin: 4vmin;
padding: 2vmin;
font-size: 4vmin;
border-radius: 2vmin;
border: 0.1vmin solidgray;
color: gray;
}

#hit:hover {
  color: white;
  background-color: darkgray;
}
#stay {
  font-family: 'Cormorant Garamond', serif;
  width: 20vmin;
  margin: 4vmin;
  padding: 2vmin;
  font-size: 4vmin;
  border-radius: 2vmin;
  border: 0.1vmin solidgray;
  color: gray;
  
}

#stay:hover {
  color: white;
  background-color: darkgray;
}

#deal {
  
font-family: 'Cormorant Garamond', serif;
width: 20vmin;
margin: 4vmin;
padding: 2vmin;
font-size: 4vmin;
border-radius: 2vmin;
border: 0.1vmin solidgray;
color: gray;
}

#deal:hover {
  color: white;
  background-color: darkgray;
}
